
{% extends 'layout/admin.html.twig' %}

{% block page_title %}
    Список пользователей
{% endblock %}

{% block content %}

    <a href="{{ path('app_admin_user_create') }}" class="btn btn-primary">Создать пользователя</a>

    <br>
    <br>

    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.q, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Найти</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    {{ form_label(form.enabled) }}
                    {{ form_widget(form.enabled, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form_label(form.locked) }}
                    {{ form_widget(form.locked, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form_label(form.created) }}
                    <div class="input-group">
                        {{ form_widget(form.created.from, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">-</span>
                        {{ form_widget(form.created.to, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    {{ form_label(form.login) }}
                    <div class="input-group">
                        {{ form_widget(form.login.from, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">-</span>
                        {{ form_widget(form.login.to, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_widget(form.login, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-secondary">Найти</button>

    {{ form_end(form) }}

    <br>
    <br>

    <div class="row justify-content-end">
        <div class="col-auto">
            {{ chebur_search_sorting(search) }}
        </div>
    </div>

    <br>

    <table class="table table-hover table-striped">
        <tr>
            <th>Id</th>
            <th>Имя пользователя</th>
            <th>E-mail</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        {% for user in search %}
            {% set tr_class = '' %}
            {% set tr_title = '' %}
            {% if user.isLocked() %}
                {% set tr_class = 'table-danger' %}
                {% set tr_title = 'Заблокирован' %}
            {% elseif not user.enabled %}
                {% set tr_class = 'table-warning' %}
                {% set tr_title = 'Неактивирован' %}
            {% endif %}
            <tr class="{{ tr_class }}" title="{{ tr_title }}">
                <td>{{ user.getId() }}</td>
                <td>{{ user.getUsername() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.getDateCreated()|date('d.m.Y H:i') }}</td>
                <td>
                    {% if is_granted('user.view', user) %}
                        <a href="{{ path('app_admin_user_view', {'id': user.getId()}) }}" class="btn btn-primary" title="Просмотр"><i class="fa fa-eye"></i></a>
                    {% endif %}
                    {% if is_granted('user.edit', user) %}
                        <a href="{{ path('app_admin_user_edit', {'id': user.getId()}) }}" class="btn btn-secondary" title="Редактирование"><i class="fa fa-edit"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="row">
        <div class="col-auto mr-auto">
            {{ chebur_search_pagination(search) }}
        </div>
        <div class="col-auto ">
            {{ chebur_search_limitation(search) }}
        </div>
    </div>

{% endblock %}
