
{% extends '@App/layout/main.html.twig' %}

{% block page_title %}
    Изменение e-mail
{% endblock %}

{% block content %}

    <h1>{{ block('page_title') }}</h1>

    <p>
        {{ form_start(form) }}
            <div class="invalid-feedback" style="display: block;">
                {{ form_errors(form) }}
            </div>
            <div class="form-group {% if not form.password.vars.valid %} is-invalid {% endif %}">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.password) }}
                </div>
            </div>
            <div class="form-group {% if not form.email.vars.valid %} is-invalid {% endif %}">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Изменить e-mail</button>
        {{ form_end(form) }}
    </p>

{% endblock %}