
{% extends '@App/layout/admin.html.twig' %}

{% block page_title %}
    Редактирование пользователя {{ user.getId() }}
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="invalid-feedback" style="display: block;">
            {{ form_errors(form) }}
        </div>

        <div class="form-group {% if not form.fio_f.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.fio_f) }}
            {{ form_widget(form.fio_f, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.fio_f) }}
            </div>
        </div>
        <div class="form-group {% if not form.fio_i.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.fio_i) }}
            {{ form_widget(form.fio_i, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.fio_i) }}
            </div>
        </div>
        <div class="form-group {% if not form.fio_o.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.fio_o) }}
            {{ form_widget(form.fio_o, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.fio_o) }}
            </div>
        </div>

        <div class="form-group {% if not form.gender.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.gender) }}
            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.gender) }}
            </div>
        </div>

        <div class="form-group {% if not form.date_birthday.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.date_birthday) }}
            {{ form_widget(form.date_birthday, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.date_birthday) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Создать пользователя</button>
    {{ form_end(form) }}

{% endblock %}
