
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Запуск лота {{ lot.id }}
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="invalid-feedback" style="display: block;">
            {{ form_errors(form) }}
        </div>
        <div class="form-group {% if not form.price_start.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.price_start) }}
            {{ form_widget(form.price_start, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.price_start) }}
            </div>
        </div>
        <div class="form-group {% if not form.price_blitz.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.price_blitz) }}
            {{ form_widget(form.price_blitz, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.price_blitz) }}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Запустить</button>
        </div>
    {{ form_end(form) }}

{% endblock %}
