
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Авторизация
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="invalid-feedback" style="display: block;">
            {{ form_errors(form) }}
        </div>
        <div class="form-group {% if not form._username.vars.valid %}is-invalid{% endif %}">
            {{ form_label(form._username) }}
            {{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form._username) }}
            </div>
        </div>
        <div class="form-group {% if not form._password.vars.valid %}is-invalid{% endif %}">
            {{ form_label(form._password) }}
            {{ form_widget(form._password, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form._password) }}
            </div>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                {{ form_widget(form._remember_me, {'attr': {'class': 'custom-control-input'}}) }}
                <span class="custom-control-label">{{ form._remember_me.vars.label }}</span>
            </label>
        </div>

<br>
<br>

        <div class="form-group">
            <div class="custom-control custom-checkbox-switch">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Запомнить меня</label>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-checkbox-switch">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Запомнить меня</label>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-checkbox-switch">
                <input type="checkbox" class="custom-control-input" id="customCheck3" disabled>
                <label class="custom-control-label" for="customCheck3">Запомнить меня</label>
            </div>
        </div>

        <div class="form-group">
            <div class="custom-control custom-checkbox custom-checkbox-switch">
                <input type="checkbox" class="custom-control-input" checked id="customCheck4" disabled>
                <label class="custom-control-label" for="customCheck4">Запомнить меня</label>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Войти</button>

    {{ form_end(form) }}

    <div>
        <h2>Войти с помощью</h2>
        <ul>
            {% for res in resource_owners %}
                <li>
                    <a href="{{ path('hwi_oauth_service_redirect', {service: res.getName()}) }}" class="btn {{ res.getName() }}" title="Войти с помощью {{ oauth_name(res) }}">
                        <i class="{{ oauth_icon_class(res) }}"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}