<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin {% block page_title %}{% endblock %}</title>

    {% block header_assets %}
        {% include 'layout/_assets.html.twig' %}
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url('app_admin_default_index') }}">
        <img src="http://symfony.com/images/v5/logos/sf-positive.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Admin
    </a>

    {# todo navbar collapse #}

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_default_index') }}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-link nav-link dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Пользователи
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ path('app_admin_user_list') }}">Список</a>
                <a class="dropdown-item" href="{{ path('app_admin_auth_log_list') }}">История входов</a>
                <a class="dropdown-item" href="{{ path('app_admin_user_review_list') }}">Отзывы</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-link nav-link dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Лоты
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ path('app_admin_lot_list') }}">Список</a>
            </div>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i> {{ app.user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownUserLink">
                <a class="dropdown-item" href="{{ path('app_admin_profile_index') }}">
                    <i class="fa fa-user-circle"></i> Профиль
                </a>
                <a class="dropdown-item" href="{{ path('app_auth_admin_logout') }}">
                    <i class="fa fa-power-off"></i> Выход
                </a>
            </div>
        </li>
    </ul>
</nav>

<div class="content">
    <div class="container-fluid">
        <h1>{{ block('page_title') }}</h1>

        {% block content %}{% endblock %}
    </div>
</div>

{% block footer_assets %}{% endblock %}
</body>
</html>
