
{% extends 'layout/admin.html.twig' %}

{% block page_title %}
    Изменение пароля
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="invalid-feedback" style="display: block;">
            {{ form_errors(form) }}
        </div>
        <div class="form-group {% if not form.password.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.password) }}
            </div>
        </div>
        <div class="form-group {% if not form.password_new.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.password_new.password) }}
            {{ form_widget(form.password_new.password, {'attr': {'class': 'form-control'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.password_new.password) }}
            </div>
        </div>
        <div class="form-group {% if not form.password.vars.valid %} is-invalid {% endif %}">
            {{ form_label(form.password_new.password_confirm) }}
            {{ form_widget(form.password_new.password_confirm, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    {{ form_end(form) }}

{% endblock %}
